._1ceqH ._1lB9c {
  display: none;
}
._1ceqH ._f2DT8 * {
  font-size: 30px;
  display: inline;
}
._1ceqH ._3bC73 ._1YOWG {
  bottom: 200px;
}
.profile p {
  text-align: center;
  width: max-content;
}
._1ceqH ._1YOWG ._eV_dK {
  margin: auto;
}
._1ceqH ._3bC73 ._1dpop {
  bottom: 90px;
}
._1ceqH ._2fG9h {
  width: 110%;
  padding: 0;
}
._1ceqH ._dt3-T {
  min-height: 375px;
}
